/* Global */

/*Basically, add html height 100%. This will stretch your gradient.*/
html {
    height:100%;
  }
  body {
      background:rgba(0, 0, 0, 0.68);
    background-image: linear-gradient(to right bottom,#0f052b, #001951, #7a0072,#310059);
    background-repeat: no-repeat;
  }
  h1,h2,h3{
      color: white;
  }
/* Style for index.html */
.navigation{
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 0px;
    padding-bottom: 0%;
}


.mynavitem{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.mynavitem:hover{
    font-weight: bolder;
    color: azure;
}
.home_bg_img{
    position: absolute;
     left: 0px;
    top: 0px;
    width: 100%; 
    z-index: -1;
    filter: brightness(50%)
   
}
/* .nav_element_group{
    background: #2e0c06;
    
} */
.mylogo{
    color: white;
    letter-spacing: 3px;
    font-style: normal;
    
}
.mylogo:hover{
    color: white;
    font-weight: 600;
    
    
}

.top-text-h1{
    font-size: -webkit-xxx-large;
    font-weight: 400;
}
.top-text-h2{
    font-size: large;
    font-weight: 300;
}
.top-text-side{
    color: white;
    width: 47%;
}
.top-text-button{
    padding: 1% 4%;
    background-color: white;
    border: solid 2px saddlebrown;
    font-size: medium;
    font-weight: 700;
    
}
.upload-button{
    padding: 1% 4%;
    background-color: white;
    border: solid 2px saddlebrown;
    font-size: medium;
    font-weight: 700;
    margin:30%;
}
.top-text-button:hover{
   
    background-color: whitesmoke;
    border: solid 2px black;
    
} 
.upload-card
{
    background: black;
    padding-inline: 14%;
    text-align: center;
    padding-top: 6%;
}

@media only screen and (min-width: 992px) {
     .mynavitems{
    flex-grow:unset;
    }
  
    .nav_element_group{
        /* background: #2e0c06; */
        opacity: 99%;
        padding-bottom: 1%;
        height: 24%;
        padding-top: 1%;
    }
    /* .top-text-div{
        padding-inline-start: 27rem;
        text-align: center;
    } */
   
}
